<script>
google.charts.setOnLoadCallback(drawChart);
  numInGroup = {{numInGroup}} + 1;
  firstName = '{{firstName}}';
	maxScore = {{project.maxScore}};
	pointWeightString = "{{project.isPointWeight}}"
		if(pointWeightString === "true"){
		isPointWeight = true;
		weightTotal = numInGroup*100;
	}else{
		isPointWeight = false;
	}
	standardsInAssignment = {{project.standardsInAssignment}};
	standardsString = `{{project.standards}}`;
	chartTitle = standardsString.split(',');
	var code= {{project.connectCode}}

	function sendData(){
		document.getElementById("groupMembers").setAttribute("value", groupMemberNamesString);
		if(isPointWeight){
			return checkPointValue();
		}else{
			return true;
		}
	}
	{{#if demo}}
	groupMemberNames = ['John Doe', 'Jane Doe', "Johnny Appleseed"];
	{{else}}
	groupMemberNamesString = localStorage.getItem("groupMemberNamesString");

	groupMemberNames = groupMemberNamesString.split(`,`);
	{{/if}}
	
</script>
<div class="container-fluid" id="evalPage">
<form id="submitForm" action="/eval" method="POST">
<input name="groupMembers" id="groupMembers" style="display: none;">
<input name="submitter" id="submitter" value="{{firstName}}" style="display: none;">
<input name="groupNumber" id="groupNumber" value="{{groupNumber}}" style="display: none;">
<div class="page-header" align="center">
	<h2>{{project.projectTitle}}</h2>
</div>
<div class="row" id="container"></div>
<button name="id" value="{{project.connectCode}}" id="submitButton" onclick="event.returnValue=sendData();" class="btn btn-lg btn-block btn-primary" type="submit">Submit to Teacher</button>

</div>

</form>

  <script>
    window.onload = function(){
			init(); 	
			{{#if demo}}

			{{else}}
			document.getElementById("groupMembers").setAttribute('value',groupMemberNamesString);
			{{/if}}
			for(var i=0; i<standardsInAssignment; i++){
				updateSliders(i);
			};
			};
	$(window).resize(function(){drawChart();});
  </script>
{{#if project.isPointWeight}}
	<div class="modal fade" id="pointWeightModal" tabindex="-1" role="dialog" aria-labelledby="pointWeightModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Woah There...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modalBody" class="modal-body" style="font-size=24;"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Got It!</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
