<script src="/script.js"></script>
<script>
google.charts.setOnLoadCallback(drawChart);
	
  numInGroup = {{numInGroup}} + 1;
  firstName = '{{firstName}}';
	maxScore = {{project.maxScore}};
	pointWeightString = "{{project.isPointWeight}}"
		if(pointWeightString === "true"){
		isPointWeight = true;
	}else{
		isPointWeight = false;
	}
	standardsInAssignment = {{project.standardsInAssignment}};
	standardsString = `{{project.standards}}`;
	chartTitle = standardsString.split(',');
	var code= {{project.connectCode}}

	function sendData(){
		document.getElementById("groupMembers").setAttribute("value", groupMemberNamesString);
		if(isPointWeight){
			return checkPointValue();
		}else{
			return true;
		}
	}

	function getGroupMemberNames(){
		return localStorage.getItem("groupMemberNamesString");
	}

	groupMemberNamesString = localStorage.getItem("groupMemberNamesString");

	groupMemberNames = groupMemberNamesString.split(`,`);
</script>
<div class="container-fluid" id="evalPage">
<form id="submitForm" action="/eval" method="POST">
<div class="page-header" align="center">
	<h1>Easy Eval</h1>
  <h1><small>Evaluate Your Group Members</small></h1>
	<h2><em>{{project.projectTitle}}</em></h2>
</div>
<div class="row" id="charts"></div>
<div class="row" id="middle"></div>
<div class="row" id="sliders" style="height:fit-content"></div>
<button style="margin: 5px; position:fixed; bottom:0; left:0;" id="submitButton" align="center" onclick="event.returnValue=sendData();" class="btn btn-lg btn-block btn-primary" name="id" type="submit" value="{{project.connectCode}}">Submit to Teacher</button>
<br>
<input name="groupMembers" id="groupMembers" style="display: none;">
<input name="submitter" id="submitter" value="{{firstName}}" style="display: none;">
<input name="groupNumber" id="groupNumber" value="{{groupNumber}}" style="display: none;">
</div>

</form>
<script src="/script.js"></script>
  <script>
    window.onload = function(){
			init(); 	
			document.getElementById("groupMembers").setAttribute('value', getGroupMemberNames());
			for(var i=0; i<standardsInAssignment; i++){
				updateSliders(i);
			};
			};


	$(window).resize(function() {
 	chartWidth = (document.documentElement.clientWidth/standardsInAssignment - 10);
	drawChart();


	for(var i=0; i<standardsInAssignment; i++){
		defineSliderLocation(i);
	}

});
	{{#if project.isPointWeight}}


{{/if}}
  </script>
{{#if project.isPointWeight}}
	<div class="modal fade" id="pointWeightModal" tabindex="-1" role="dialog" aria-labelledby="pointWeightModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Woah There...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modalBody" class="modal-body" style="font-size=24;"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Got It!</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
