<script>
google.charts.setOnLoadCallback(drawChart);
	
  numInGroup = {{numInGroup}} + 1;
  firstName = '{{firstName}}';
	maxScore = {{project.maxScore}};
	standardsInAssignment = {{project.standardsInAssignment}};
	standardsString = `{{project.standards}}`;
	chartTitle = standardsString.split(',');
	var code= {{project.connectCode}}

	function sendData(){
		document.getElementById("groupMembers").setAttribute("value", groupMemberNamesString);
	}

	function getGroupMemberNames(){
		return localStorage.getItem("groupMemberNamesString");
	}

	groupMemberNamesString = localStorage.getItem("groupMemberNamesString");

	groupMemberNames = groupMemberNamesString.split(`,`);
</script>
<div class="container-fluid" id="evalPage">
<form action="/eval" method="POST">


<div class="page-header" align="center">
	<h1>Easy Eval</h1>
  <h1><small>Evaluate Your Group Members</small></h1>
	<h2><em>{{project.projectTitle}}</em></h2>
</div>
<div class="row" id="charts"></div>
<div class="row" id="sliders" style="height:fit-content"></div>
<button style="margin: auto center; position:fixed; bottom:0; left:0;" align="center" onclick="sendData()" class="btn btn-lg btn-block btn-primary" name="id" type="submit" value="{{project.connectCode}}">Submit to Teacher</button>
<br>
<input name="groupMembers" id="groupMembers" style="display: none;">
<input name="submitter" id="submitter" value="{{firstName}}" style="display: none;">
<input name="groupNumber" id="groupNumber" value="{{groupNumber}}" style="display: none;">

	</div>
</form>
  <script>
    window.onload = function(){
			init(); 	
			document.getElementById("groupMembers").setAttribute('value', getGroupMemberNames());
			for(var i=0; i<standardsInAssignment; i++){
				updateSliders(i);
			};
			};


	$(window).resize(function() {
 	chartWidth = (document.documentElement.clientWidth/standardsInAssignment - 10);
	drawChart();


	for(var i=0; i<standardsInAssignment; i++){
		defineSliderLocation(i);
	}

});
	

  </script>
