{{!-- <script>
    var standards = '{{project.standards}}'.split(',');
    var standardHeaders = [];
    var standardsDiv = document.getElementById("standardTitles");
    window.onload= function(){

        for(var i=0; i<{{project.standardsInAssignment}}; i++){
            standardHeaders[i] = document.createElement('div');
            standardHeaders[i].innerHTML = standards[i];
            standardsDiv.appendChild(standardHeaders[i]);

        };
    };
</script> --}}


<h1>{{project.projectTitle}}</h1>

 <table id="resultsTable" class="table table-striped">
     <tr>
         <th>Student</th>
         {{#each standards}}
         <th>{{this}}</th>
        {{/each}}
     </tr>
     {{#each evalData}}

     {{#if this}}
     <script>
         var group{{@index}}array = `{{this.groupMembers}}`.split(',');
         var group{{@index}}rows = [];
         var group{{@index}}headers = [];
         for(var i=0; i<group{{@index}}array.length; i++){
            group{{@index}}rows[i] = document.createElement("tr");
            group{{@index}}headers[i] = document.createElement("th");
            group{{@index}}headers[i].setAttribute("scope", "row");
            group{{@index}}headers[i].innerHTML = group{{@index}}array[i];
            group{{@index}}rows[i].appendChild(group{{@index}}headers[i]);
            document.getElementById("resultsTable").appendChild(group{{@index}}rows[i]);

         }
     </script>
     {{/if}}
     {{/each}}
 </table>
